p{
    font-size: 31px;
}

.new-color {
    color: blueviolet;
}
.orange-p {
    color: orange;
}

.new-font-size {
    font-size: 20px;
}

#price {
    font-weight: 900;
    font-size: 44px;
}
div.orange-p {
    color: red;
    font-size: 44px;
}
/* po id - 4isto dlya razvitiya*/
div#price {
    background: aqua;
}

ul li{
    color: red;
}
#test ul > li.test {
    color: grey;
}
/* test - class, 
. - определяет класс*/
/* [src*=google] - поиск среди всех картинок ключегое слово */